extends base.pug
block scripts
  script(src='/static/index.js')
  
block style 
   style 
      include ../static/style.css
      include ../static/styleAbout.css


block content 
    div.aboutContainer

        h1 About Us
        div.box 
          h2 Rushi Dance Academy
          p Rushi Dance Academy (RDA) was founded in 2009 by Mr. Rushikesh Dudhal and since then has predominantly been active in educating dance enthusiasts. The company completed a decade on the 7th of August 2019 and has taught over 20,000+ students in the country. Split Sole believes the combination of technique work and stylized movement can bring out the quality of a professional dancer in one, and therefore introduced Jazz Funk to the city for the very first time in 2009. Dance styles like Contemporary & Hip Hop are also taught at our studios across the city. At the academy, awaits a super fun, passionate and dedicated team of artists and teachers to make your dance journey a memorable one!
        div.box1
            p OUR VISION - To inspire growth and have a positive impact in dance education across the    country, to help students grow in dance and in life.
            p OUR MISSION - To contribute to the community, to create opportunities for the next generation in dance. To empower individuals and help them achieve their goals 
        