doctype html
html
  head
    title Rushi dance Academy
    block scripts
    block style   
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/images/pro3_2.png")
                |RDA
            li #[a(href="/") Home] 
            li #[a(href="/about") About] 
            li #[a(href="/services") Services] 
            li #[a(href="/") Class Info] 
            li #[a(href="/contact") Contact Us] 
    block content 
    footer#footer 
        |@Copyright 2022 RushiDanceAcademy.com | All rights reserved
    
    