extends base.pug
block scripts
  script(src='/static/index.js')
  
block style 
   style 
      include ../static/style.css
      include ../static/styleServices.css


block content 
    div.ServicesContainer
        h1 Services
        div.card1 
            h3 Wedding Dance 
            div.card-box
                div.card-img
                    img(src="/static/images/services.jpg")
                div.card-content 
                    p To inspire growth and have a positive impact in dance education across the country, to help students grow in dance and in life.    
        div.card1
            h3 Shows AND Entertainement
            div.card-box
                div.card-img
                    img(src="/static/images/services1.jpg")
                div.card-content 
                    p Our mission is to instill a great love of dance, while inspiring self-confidence, discipline and respect of the performing arts.
        div.card1 
            h3 Traditional Dance
            div.card-box
                div.card-img
                    img(src="/static/images/services2.jpg")
                div.card-content 
                    p we have World class Dance expert.Nearly More than 120 types of dance Teaching.       
        div.card1
            h3 Group Dance
            div.card-box
                div.card-img
                    img(src="/static/images/services3.jpg")
                div.card-content 
                    p To inspire growth and have a positive impact in dance education across the country, to help students grow in dance and in life.    
        div.card1 
            h3 Solo Dance
            div.card-box
                div.card-img
                    img(src="/static/images/services4.jpg")
                div.card-content 
                    p Our mission is to instill a great love of dance, while inspiring self-confidence, discipline and respect of the performing arts.
        div.card1 
            h3 Hip-Hop Dance
            div.card-box
                div.card-img
                    img(src="/static/images/services5.jpg")
                div.card-content 
                    p we have World class Dance expert.Nearly More than 120 types of dance Teaching.       

            
             

        